@model List<Contact>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/AdminLayout/Index.cshtml";
	int count = 0;
}

<h3>Iletisim</h3>

<table class="table table-bordered table-hover">
	<tr>
		<th>#</th>
		<th>Adres</th>
		<th>Mail</th>
		<th>Telefon</th>
		<th>Map Url</th>
		<th>İşlemler</th>
	</tr>
	@foreach (var item in Model)
	{
		count++;
		<tr>
			<td>@count</td>
			<td>@item.Address.Substring(0, 25)</td>
			<td>@item.Email</td>
			<td>@item.Phone</td>
			<td>@item.MapUrl.Substring(0, 50)</td>
			<td class="text-center">
				<a class="btn btn-outline-danger" onclick="deleteContact(@item.ContactId)" asp-action="DeleteContact" asp-route-id="@item.ContactId">Sil</a>
				<a style="margin-top:15px;" class="btn btn-outline-info" asp-action="UpdateContact" asp-route-id="@item.ContactId">Güncelle</a>
			</td>
		</tr>
	}
</table>
<a class="btn btn-outline-primary" asp-action="CreateContact">Yeni İletişim Alanı Oluştur</a>

<script>
	function deleteContact(id) {
		Swal.fire({
			title: "Silmek istediğinize emin misiniz?",
			text: "Bu işlem geri alınmayacak!",
			icon: "warning",
			showCancelButton: true,
			confirmButtonColor: "#3085d6",
			cancelButtonColor: "#d33",
			confirmButtonText: "Evet, Sil!",
			cancelButtonText: "İptal"
		}).then((result) => {
			if (result.isConfirmed) {
				window.location.href = "/AdminContact/DeleteContact/" + id
			}
		});
	}
</script>
